<html>

<head></head>

<body>
	
<h1>WELLCOME TO THE AWESOME MOVIE LOVERS GAME!!!</h1>

</body>

<form action="/game" method="POST">
	<p>Please, tell us your name: </p><input type="text" name="user_name"/><br><br>
	<input type="submit" value="Play!"/>
</form>

</html>